{% extends "shelter/base.twig" %}

{% block title %}O nás{% endblock %}
{% block description %}Útulek, který dává zvířatům druhou naději.{% endblock %}

{% block content %}
    <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
        <h1 class="text-xl uppercase">O nás - Tlapka v nouzi</h1>
        <p>Vítejte na stránkách útulku Tlapka v nouzi! Naše poslání je jednoduché, ale hluboce smysluplné: pomáhat zvířatům v nouzi. Věříme, že každé zvíře si zaslouží druhou šanci na šťastný život plný lásky a péče. Naším cílem je najít opuštěným a týraným zvířatům milující domov, kde budou v bezpečí a obklopeni péčí.</p>
    </div>

    <div class="flex flex-col gap-2 mt-4">
        <h1 class="text-xl uppercase">Kdo jsme?</h1>
        <p>Za každým šťastným příběhem zvířete stojí tým srdcařů, kteří svou práci vykonávají s láskou a odhodláním.</p>
        <ul class="list-inside flex flex-col gap-1">
            <li><b>Víťa</b> - Milovník zvířat, který má přirozený talent komunikovat se zvířaty, i těmi nejplachějšími. Víťa se stará o to, aby každé zvíře dostalo potřebnou péči, od zdravé stravy až po mazlení. </li>
            <li><b>Lukáš</b> - Naše pravá ruka v organizaci útulku. Lukáš má na starosti nejen provozní záležitosti, ale i veterinární dohled. Díky jeho odbornosti mají všechna zvířata zajištěné pravidelné prohlídky a potřebnou léčbu.</li>
            <li><b>Ondra</b> - Specialista na socializaci zvířat. Ondra je mistr v získávání důvěry i u těch nejvíce traumatizovaných zvířat. Trpělivě pracuje s pejsky, kteří potřebují naučit základní povely, nebo s kočkami, které si ještě nezvykly na lidský dotek.</li>
        </ul>
    </div>

    <div class="flex flex-col gap-2 mt-4">
        <h1 class="text-xl uppercase">Jak pomáháme?</h1>
        <p>Každý den je v útulku jiný, ale naše hlavní činnosti zůstávají stejné:</p>
        <ul class="list-inside list-disc">
            <li>Péče o zvířata: Zajišťujeme kvalitní stravu, lékařské ošetření a psychologickou podporu zvířatům, která k nám přijdou.</li>
            <li>Hledání nových domovů: Spolupracujeme s rodinami a jednotlivci, kteří touží poskytnout domov zvířeti, jež prošlo těžkými chvílemi.</li>
            <li>Vzdělávání: Pořádáme akce, kde učíme lidi, jak správně pečovat o domácí mazlíčky, a zvyšujeme povědomí o problémech týraných zvířat.</li>
        </ul>
    </div>

    <div class="flex flex-col gap-2 mt-4">
        <div class="flex flex-row gap-4 items-center ">
        <h1 class="text-xl uppercase">Naše Motto:</h1>
        <p>„Každá tlapka si zaslouží lásku.“</p>
        </div>
        <p>Ať už se jedná o psa, kočku, nebo jiné zvíře, věříme, že láska a péče dokážou udělat zázraky.</p>
    </div>

    <p class="mt-4">Pokud se chcete dozvědět více, zapojit se do našich aktivit, nebo třeba adoptovat zvířecího kamaráda, neváhejte nás kontaktovat.<br>Jsme tu nejen pro zvířata, ale i pro všechny, kterým na nich záleží.</p>
    </div>
{% endblock %}