<!DOCTYPE html>
<html lang="cs" class="w-full h-full" data-theme="dark">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %} | Útulek tlapka v nouzi</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/media/css/style.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/media/favicon.png">
    <link rel="stylesheet" href="/media/photoswipe/photoswipe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    {% endblock %}
</head>
<body class="antialiased">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    {{ include('shelter/navbar.twig') }}
    <div class="max-w-[1310px] mx-auto pt-6 flex flex-col min-h-[48rem] mt-16">
        {% if links|length > 0 %}
        <ol class="inline-flex md:space-x-2 px-2 md:px-0 rtl:space-x-reverse" id="main-breadcrumb">
            <li class="inline-flex items-center">
                <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                    </svg>
                </a>
            </li>
            {% for link in links %}
            <li>
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <a href="{{ link.link }}" class="text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2">{{ link.name }}</a>
                </div>
            </li>
            {% endfor %}
        </ol>
        {% endif %}
        <div class="flex flex-col md:mt-6">
            {% block content %}{% endblock %}
        </div>
        
        
    </div>
    {{ include('shelter/footer.twig') }}
    
    <script>
        async function postData(url = "", data = {}) {
        // Default options are marked with *            
        const response = await fetch(url, {
            method: "POST", // *GET, POST, PUT, DELETE, etc.
            mode: "cors", // no-cors, *cors, same-origin
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin", // include, *same-origin, omit
            headers: {
                "Content-Type": "application/json",
             //'Content-Type': 'multipart/form-data',
            },
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data), // body data type must match "Content-Type" header
        });    
        return response.json(); // parses JSON response into native JavaScript objects
        
        }
    </script>
</body>
</html>