
<hr class="w-full h-px bg-slate-200 border-0 md:mt-0 mt-2">
<div class="w-full md:py-2 py-1">
    <p class="text-center w-full text-xs md:text-sm">Copyright © 2024 Bikonkavní Terčýk | Tlapka v nouzi</p>
</div>