{% extends "shelter/base.twig" %}

{% block title %}Hlavní strana{% endblock %}
{% block description %}Útulek, který dává zvířatům druhou naději.{% endblock %}

{% block content %}


<h1>Tady bude index, zatím tu nic není</h1>


{% endblock %}