{% extends "shelter/base.twig" %}

{% block title %}Výroba předmětů na zakázku{% endblock %}
{% block description %}Vyrábíme a prodáváme vlastnoručně navržené modely.{% endblock %}

{% block content %}

<h1 class="text-xl">Toto je index</h1>

{% endblock %}