{% extends "shelter/base.twig" %}

{% block title %}Hlavní strana{% endblock %}
{% block description %}Útulek, který dává zvířatům druhou naději.{% endblock %}

{% block content %}

    <div class="relative rounded-lg w-full h-96 flex flex-col gap-4 items-center justify-center">
        <div class="sepia absolute z-[-10] w-full h-full bg-cover bg-[center_bottom_-22rem]" style="background-image: url('https://as1.ftcdn.net/v2/jpg/06/22/74/42/1000_F_622744204_XiEGfOBLzRBhsSHZihicBsKID5qSnZef.jpg')"></div>

        <h2 class="uppercase font-bold text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] text-2xl">Pomáháme zvířatům najít nový domov</h2>
        <a href="/zvirata" class="p-4 text-xl bg-blue-500 text-white rounded-lg shadow-lg">Naše zvířata</a>
    </div>
    <div class="mt-8 flex flex-col items-center justify-center gap-2 h-48">
        <h2 class="text-center text-xl uppercase">Naše motto</h2>
        <p class="text-center text-base italic w-1/2">Jsme nezisková organizace, která pomáhá opuštěným a týraným zvířatům.<br>Naším cílem je najít jim milující domov a zajistit, aby měla lepší budoucnost.</p>
    </div>

{% endblock %}