<nav class="bg-white fixed w-full z-40 top-0 start-0 border-b border-gray-200 ">
  <div class="max-w-[1310px] flex flex-wrap items-center justify-between mx-auto md:px-0 p-4">
  <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/media/images/logo.png" class="h-[64px] w-[173px]" alt="thingify Logo">
  </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      {% if user == null %}
      <a href="/login" class="nav-item flex flex-row items-center gap-2 text-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
          <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-5.5-2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM10 12a5.99 5.99 0 0 0-4.793 2.39A6.483 6.483 0 0 0 10 16.5a6.483 6.483 0 0 0 4.793-2.11A5.99 5.99 0 0 0 10 12Z" clip-rule="evenodd" />
        </svg>
  
        Přihlásit se
      </a>
      {% else %}
      <a href="/muj-profil" class="nav-item flex flex-row items-center gap-2 text-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
          <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-5.5-2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM10 12a5.99 5.99 0 0 0-4.793 2.39A6.483 6.483 0 0 0 10 16.5a6.483 6.483 0 0 0 4.793-2.11A5.99 5.99 0 0 0 10 12Z" clip-rule="evenodd" />
        </svg>
        <div class="flex flex-col">
          <p>{{user.jmeno}} {{user.prijmeni}}</p> 
          {% if user.role|length > 0 %}
            <p class="text-gray-400 text-xs mt-[-6px]">{{min(user.role).role_jmeno}}</p>
          {% endif %}
        </div>
      </a>
      {% endif %}
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Otevřít hlavní menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white ">
      <li class="nav-item">
        <a href="/zvirata" class="block py-2 px-3 text-gray-900 rounded  md:p-0" aria-current="page">Naše zvířata</a>
      </li>

      <li class="nav-item">
        <a href="/o-nas" class="block py-2 px-3 text-gray-900 rounded  md:p-0 ">O nás</a>
      </li>
    </ul>
  </div>
  </div>
</nav>