<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thingify.cz - Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/media/css/style.css" rel="stylesheet"/>
</head>
<body class="h-full">
    
    <form action="/login" method="POST" class="flex w-full h-full">
        <div class="flex flex-col mx-auto my-auto gap-2">
            <img src="/media/images/thingify_logo.png" class="mx-auto mb-4" width="200" alt="">
            <div class="input-with-placeholder">
                <input required type="text" id="username" name="username">
                <label for="username">Username</label>
            </div>
            <div class="input-with-placeholder">
                <input required type="password" id="password" name="password">
                <label for="password">Password</label>
            </div>
            <button class="bg-blue-400 p-4 rounded">Log in</button>
        </div>
    </form>
</body>
</html>