{% extends "shelter/base.twig" %}

{% block title %}Stránka nenalezena{% endblock %}

{% block content %}


<div class="flex flex-col w-full gap-16">
    
    <div class="flex flex-col gap-2">
        <p class="text-8xl text-center">404</p>
        <h1 class="text-center text-2xl mt-8">Hledaná stránka nebyla nalezena</h1>
    </div>
    

    <a href="/" class="text-center mt-8 p-4 w-64 rounded-lg shadow-lg text-white font-bold mx-auto" style="background-color:var(--blue);">Zpět na hlavní stranu</a>
    

    </form>
</div>


{% endblock %}
